html {  
  font-family: 'Inter', sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  background-image: url(../images/blackboard.jpg);
  background-size: 100% 100%;
}

.chassis {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  width: 33vw;
  height: 75vh;
  border-radius: 20px;
  margin-top: 5%;
}

.chassis:hover {
  box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.75);
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.display-container {
  display: flex;
  height: 150px;
  justify-content: flex-end;
  background: black;
  border-radius: 15px 15px 0 0;
  font-size: 25px;
}

#display {
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.clear {
  grid-area: clear;
  background: rgb(206, 144, 124);
}

.clear:hover {
  background: rgba(206, 145, 124, 0.295);
  transition-duration: 0.5s;
}

.back {
  grid-area: back;
}
.divide {
  grid-area: divide;
  background: rgb(124, 185, 206);
}

.divide:hover {
  background: rgba(124, 186, 206, 0.295);
  transition-duration: 0.5s;
}

.multiply {
  grid-area: mult;
  background: rgb(124, 185, 206);
}

.multiply:hover {
  background: rgba(124, 186, 206, 0.295);
  transition-duration: 0.5s;
}

.seven {
  grid-area: seven;
}


.subtract {
  grid-area: subtr;
  background: rgb(124, 185, 206);
}

.subtract:hover {
  background: rgba(124, 186, 206, 0.295);
  transition-duration: 0.5s;
}

.rowc {
  grid-area: numc;
}

.zero {
  grid-area: zer;
  border-bottom-left-radius: 17px;
}

.decimal {
  grid-area: dec;
}

.equals {
  grid-area: equals;
  border-bottom-right-radius: 17px;
  background: rgb(124, 185, 206);
}

.opPressed {
  filter: invert(1) !important;
  transition-duration: 0.2s !important;
  background: rgba(124, 186, 206, 0.295) !important;
  transition-duration: 0.2s !important;
}


.equals:hover {
  background: rgba(124, 186, 206, 0.295);
  transition-duration: 0.5s;
}

.add {
  background: rgb(124, 185, 206);
}

.add:hover {
  background: rgba(124, 186, 206, 0.295);
  transition-duration: 0.5s;
}

.buttons-grid {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(5 1fr);
  grid-template-columns: auto;
  grid-template-areas: 
    'clear clear back divide'
    'seven eight nine mult'
    'four five six subtr'
    'one two three add'
    'zer zer dec equals';
}
button {
  font-family: inherit;
  font-size: 32px;
  width: auto;
  height: auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
button:hover{
  filter: invert(1);
  transition-duration: 0.2s;
}

.pressed {
  filter: invert(1);
  transition-duration: 0.2s;
}

button:focus {
  outline: none;
}

button:active{
  border: none;
  border: 1px solid black;
}
.operator {
  width: 40px;
  height: 40px;
  margin: none;
}

#backspace {
  width: 23px;
  height: 23px;
}

@media screen and (max-width: 800px) {
  #display {
    transform: scale(0.7);
  }

  .chassis {
    width: 75vw
  }
}